@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="content-heading">
        <h2 class="title">@ViewData["Title"]</h2>
    </div>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
