@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <div class="content-heading">
        <h2 class="title">@ViewData["Title"]</h2>
    </div>
<p>
    Please check your email to reset your password.
</p>
