@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="content-heading">
    <h2 class="title">@ViewData["Title"]</h2>
</div>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
