<div class="page-title-wrapper">
    <div class="container">
        <span class="page-header">
            <span>@Title</span>
        </span>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}
